.events-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 360px;
}

.card-actions-cont {
    display: flex;
    justify-content: space-between
}

.widjet-box {
    display: flex;
    flex-direction: column;
}

.widjets-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 7px;
}

.widjet-data {
    display        : flex;
    justify-content: space-around;
}