@import '../../../../styles/variables.scss';
$font-size-sm: 12px;
// style
.form-inline #label {
    font-size: $font-size-sm + 2px;
    color: #707070;
    text-align: right;
    width: 100px;
}

.link {
    font-size: 12px;
}

.form-inline>* {
    margin: 3px 3px !important;
}

.media {
    border-left: 1px solid #ccc;
}

.button-container {
    margin-left: 108px;
}

.media-object {
    width: 60%;
    height: 60%;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .media-object {
        width: 50%;
        height: 50%;
    }
}

@media (max-width: $screen-sm-min) {
    .form-group {
        margin-bottom: 8px
    }
    .form-inline #label {
        font-size: $font-size-sm;
        width: auto;
        text-align: left;
    }
    .form-inline select,
    .form-inline input,
    .form-inline li {
        height: 30px;
        padding: 2px 12px;
        margin: 0 0;
        margin-top: -6px
    }
    .custom-settings {
        padding: 0 0;
        font-size: $font-size-sm;
    }
    .media {
        padding: 0 0;
        border-left: 0 solid #ccc;
    }
    .button-container {
        text-align: center;
        margin-left: 0;
    }
    .media-object {
        width: 50%;
        height: 50%;
    }
}