@import '../../../styles/variables';

.profile-panel {
  border-right: 1px solid #ccc;
  height: 80%;
}

.profile-panel li {
  display: block;
  margin-left: 20px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .profile-panel li {
    font-size: 13px;
  }
}

@media (max-width: $screen-sm-min) {
  .profile-panel {
    display: none;
  }
}